@charset "utf-8";
/* CSS Document */

#header{
		width: 100%;
		top: 0px;
		height: 200px;
		left: 0px;
		position: absolute;
		border-bottom:2px solid black;
		
	}
#cont{
		width: 60%;
		top: 300px;
		min-height: 2000px;
		height:auto;
		left: 20%;
		position: absolute;
		text-decoration:none;
		padding:50px;
		
	}
#cont img{		
		    width: 100%;
    	max-width: 200px;
		max-height:200px;
	}
	
#cont1{
		width:80%;
		height:350px;
		position:absolute;
		padding:10px;
	}
#cont2{
		width:80%;
		top:400px;
		height:350px;
		position:absolute;
		padding:10px;
	}
#cont3{
		width:80%;
		top:800px;
		height:350px;
		position:absolute;
		padding:10px;
}
#cont4{
		width:80%;
		top:1200px;
		height:350px;
		position:absolute;
		padding:10px;
	}
#cont1 p{
		right:0;
		bottom:0;
		position:absolute;
		text-decoration:none;
		padding:30px;
	}
#cont2 p{
		right:0;
		bottom:0;
		position:absolute;
		text-decoration:none;
		padding:30px;
	}
#cont3 p{
		right:0;
		bottom:0;
		position:absolute;
		text-decoration:none;
		padding:30px;
	}
#cont4 p{
		right:0;
		bottom:0;
		position:absolute;
		text-decoration:none;
		padding:30px;
	}
#menu{
		width: 100%;
		top: 200px;
		height: 50px;
		left: 0px;
		position: absolute;
		font-size:16px;
		text-align:center;
		border-bottom:2px solid black;
	}
#menu1{
		width: 100%;
		top: 250px;
		height: 50px;
		left: 0px;
		position: absolute;
		font-size:16px;
		text-align:center;
		border-bottom:2px solid black;
	}
#sbar{
		width: 20%;
		top: 300px;
		height: auto;
		min-height:1700px;
		left: 0;
		position: absolute;
		font-size: 20px;
		border-right:2px solid black;
	}
#sbar1{
		width: 20%;
		top: 300px;
		height: auto;
		min-height:1700px;
		right: 0px;
		position: absolute;
		border-left:2px solid black;		
	}
#sbar a{
		color:black;
		padding:5px;
		text-decoration:none;
	}
#sbar a:hover{
		color:red;
	}
#menu1 ul{
		list-style:none;
		
		}
#menu1 ul li{
		display:inline-block;
		margin-left:100px;		
	}
#menu1 ul li ul{
		display:none;
		position:absolute;
		text-decoration:none;	
	}
#menu1 li:hover ul{
		display:block;
		position:absolute;
	}
#menu1 li:hover li{
		
		position:relative;
		display:block;
		margin-left:0px;
		padding: 20px 0 0 0;
	}
#menu1 li:hover a{
		color:black;
	}
#menu1 li:hover a:hover{
		color:red;
	}		
#menu1 ul li a{
		display:block;
		text-decoration:none;	
	}
#menu1 ul li a:hover{
		background-color:white;
	}
#menu1 a{		
		color: black;
	}
#menu1 a:hover{
		color: red;
	}
#footer{
		width: 100%;
		top: 2000px;
		height: 50px;
		left: 0px;
		position: absolute;
		border-top:3px solid black;
		border-bottom:3px solid black;
	}
#footer1{ 		
		width:70%;
		position:absolute;
		left:15%;
		right:30%;
		
  	}
	
	#footer2{ 		
		width:20%; 
		right:0px;
		position:absolute;		
	}
#footer2 img{		
		padding: 10px;
	}


.description{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
	min-height:100px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	}
.email, .street, .c_num{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	}
.item_name, .item_img, .category, .price, .select, .quantity, .fname, .lname, .area, .city, .zip, .country{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	}
	
span{
	color:red;
	}
#itemView{
		
		height:200px;
		width:200px;
		float:left;
		padding:10px 10px 10px 10px;
	}
.item-image{
		width:100%;
		height:100%;
	}